/* 隐藏不需要的Task节点 */
.bpmn-icon-manual,
.bpmn-icon-send,
.bpmn-icon-receive,
.bpmn-icon-business-rule,
.bpmn-icon-service,
.bpmn-icon-script,
.bpmn-icon-subprocess-collapsed,
.bpmn-icon-subprocess-expanded,
.bpmn-icon-group,
.bpmn-icon-task,
.bpmn-icon-participant,
.bpmn-icon-data-store,
.bpmn-icon-data-object,
.bjs-powered-by{
	display:none;
}
/* 隐藏不需要的start节点 */
.bpmn-icon-end-event-message,
.bpmn-icon-end-event-escalation,
.bpmn-icon-end-event-error,
.bpmn-icon-end-event-compensation,
.bpmn-icon-end-event-signal,
.bpmn-icon-end-event-terminate,
.bpmn-icon-loop-marker{
	display: none;
}
/* 隐藏不需要的end节点 */
.bpmn-icon-start-event-message,
.bpmn-icon-start-event-condition,
.bpmn-icon-start-event-signal{
	display:none;
}
/* 中间事件 设置小按钮内容隐藏 */
.bpmn-icon-intermediate-event-none,
.bpmn-icon-intermediate-event-catch-message,
.bpmn-icon-intermediate-event-catch-timer,
.bpmn-icon-intermediate-event-catch-escalation,
.bpmn-icon-intermediate-event-catch-condition,
.bpmn-icon-intermediate-event-catch-error,
.bpmn-icon-intermediate-event-catch-cancel,
.bpmn-icon-intermediate-event-catch-signal,
.bpmn-icon-intermediate-event-catch-compensation,
.bpmn-icon-intermediate-event-catch-non-interrupting-message,
.bpmn-icon-intermediate-event-catch-non-interrupting-escalation,
.bpmn-icon-intermediate-event-catch-non-interrupting-condition,
.bpmn-icon-intermediate-event-catch-non-interrupting-signal{
	display: none;
}